<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodWise - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portal.styles.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/favicon/safari-pinned-tab.svg" color="#c6002a">
    <link rel="shortcut icon" href="~/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="~/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a asp-controller="Account" asp-action="CanteenReservations">
                    <img src="~/img/FoodWiseLogo_Transparent.png" alt="Website logo" height="50px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container">
            <div class="canteen">
                <div class="row d-flex justify-content-center ">
                    <div class="col-10">
                        <div class="canteen-container">
                            <div class="canteen-nav">
                                <div class="canteen-nav-logo">
                                    <img src="~/img/Illustrations/wrench-solid.svg" alt="Moersleutel">
                                </div>
                                <a class="canteen-nav-item" asp-action="CanteenReservations">
                                    <p>Reserveringen</p>
                                </a>
                                <a class="canteen-nav-item" asp-action="CanteenPackages">
                                    <p>Pakketten</p>
                                </a>
                                <a class="canteen-nav-item" asp-action="CanteenAddPackage">
                                    <p>Pakket toevoegen</p>
                                </a>
                            </div>
                            <div class="canteen-content">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
