@{
    ViewData["Title"] = "Mijn Reserveringen";
}

<div class="row d-flex justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8">
        <div class="login">
            <h1>Login</h1>
            <div class="login-form">
                <form action="">
                    <label for="username">Gebruikersnaam</label><br/>
                    <input type="text" id="username">
                    <br/>
                    <label for="password">Wachtwoord</label><br/>
                    <input type="text" id="password">
                    <input type="button" class="btn btn-primary" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>