@{
    ViewData["Title"] = "Home";
}

<div class="header">
    <div class="row">
        <div class="col-lg-6 col-md-12 header-item">
            <h1>Welkom bij Foodwise!</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Alias et blanditiis exercitationem dolorum distinctio, itaque recusandae accusamus sit eos?
                Veritatis cum voluptate cupiditate aspernatur consectetur dolor exercitationem laudantium quis fugit!
            </p>
            <a asp-controller="Package" asp-action="Index" type="button" class="btn btn-primary">Bekijk de pakketten</a>
        </div>
        <div class="col-lg-6 col-md-12 header-item d-lg-flex d-none">
            <img src="~/img/Illustrations/Pickup.svg" alt="Persoon geeft een pakket aan de andere persoon">
        </div>
    </div>
</div>
<div class="info">
    <div class="row">
        <div class="col-lg-3 col-sm-6 info-item-container">
            <div class="info-item">
                <img src="~/img/Illustrations/leaf-solid.svg" alt="Blad van een plant">
                <h3>Duurzaam</h3>
                <p>
                    Avans verminderd elke dag hun voedselverspilling. Meer pakketten die worden gereserveerd betekend minder voedselverspilling
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 info-item-container">
            <div class="info-item">
                <img src="~/img/Illustrations/handshake-simple-solid.svg" alt="Handgeschud">
                <h3>Samenwerking</h3>
                <p>
                    Door Avans samenwerking met kantine's over verschillende locaties kunnen we overal verse pakketten leveren.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 info-item-container">
            <div class="info-item">
                <img src="~/img/Illustrations/box-solid.svg" alt="Pakket doos">
                <h3>Pakketten</h3>
                <p>
                    De pakketten zelf zijn gemaakt van duurzaam materiaal en zijn ook recyclebaar.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 info-item-container">
            <div class="info-item">
                <img src="~/img/Illustrations/recycle-solid.svg" alt="Recycle icoontje">
                <h3>Hergebruik</h3>
                <p>
                    Door het eten niet weg te gooien maken we niet alleen andere studenten blij met een goedkoop pakketten,
                    maar verminderen we ook onze voedselverspilling
                </p>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="banner-item">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <p>
                    @*Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nam dolor iusto, provident accusantium quod magni rerum qui non inventore dolore ab blanditiis similique delectus consectetur?
                    Laborum magnam autem deleniti assumenda.
                    Alias et blanditiis exercitationem dolorum distinctio, itaque recusandae accusamus sit eos?
                    Veritatis cum voluptate cupiditate aspernatur consectetur dolor exercitationem laudantium quis fugit!*@
                    Onze missie is om op de Avans locaties minder voedsel te verspillen.
                    Dit willen we bereiken door op alle locaties pakketten aan te bieden die student voor een lage prijs kunnen ophalen.
                    Hoe meer pakketten er worden omgehaald, des te minder hoeven wij weg te gooien.
                    Daarom hebben we dit project opgezet en hopen dat Avans de komende jaren duurzamer te werk kan gaan.
                </p>
            </div>
            <div class="col-3 d-lg-flex d-none"></div>
        </div>
    </div>
</div>
<div class="bigInfo">
    <div class="row">
        <div class="col-lg-6 order-2 order-lg-1 bigInfo-img-left">
            <img src="~/img/Illustrations/Package.svg" alt="Persoon met pakket">
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
            <h2>Gemakkelijk maaltijden ophalen</h2>
            Deze website maak het gemakkelijk om maaltijden op te halen.
            Je kan als student inloggen op de website en bij tussen de pakketten een pakket uitzoeken die bij je past.
            Vervolgens zal ons kantine persooneel het pakket optijd klaarleggen zodat je op het ophaal moment gemakkelijk je pakket kan meenemen.
        </div>
    </div>
</div>
<div class="bigInfo">
    <div class="row">
        <div class="col-lg-6">
            <h2>Ons aanbod</h2>
            Als Avans proberen we elke dag nieuwe producten aan te bieden die vaak 2 dagen vooruit op de website geplaatst kunnen worden,
            maar dit verschilt ook per product. Zie je er vandaag niks bij zitten? Probeer het dan morgen opnieuw en waarschijnlijk is er een nieuw aanbod aan pakketten
            die voor je klaarstaat!
        </div>
        <div class="col-lg-6 bigInfo-img-right">
            <img src="~/img/Illustrations/Choice.svg" alt="Persoon bekijkt pakketten">
        </div>
    </div>
</div>
